<head>
    <title>Streamer</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script>
        const camerWidth = 640;
        const camerHeight = 480;


        // trys to connect to the host that serves the page by default
        const socket = io();

        socket.on('connection', (socket) => {
            console.log('a user connected');
            socket.emit('camera_frame', { camerWidth: camerWidth, camerHeight: camerHeight });

            socket.on('disconnect', () => {
                console.log('user disconnected');
            });
        });
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <canvas id="canvas"></canvas>

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgl1xvVrKLnSEwGqMDMxUIY8VexNQ9WLMOKwhgSevscEnVcwsT&s"
        id="clock" alt="Clock" hidden>
    <img src="https://ak5.picdn.net/shutterstock/videos/16504675/thumb/4.jpg" id="graph" alt="Graph" hidden>
    <img src="https://icon-library.net/images/achievement-icon/achievement-icon-16.jpg" id="achievements"
        alt="Achivements" hidden>
    <!--<img src="https://media1.giphy.com/media/uxII4hAp5mreM/giphy.gif?cid=790b76117854fc8e32de7740c464318e31ef2a42f5e5055d&rid=giphy.gif"
        id="gif" style="position: absolute; top: 0; right: 0; width: 300px" alt="Darth Vader">-->

    <img src="{{ url_for('static', filename='images/stormtrooper-512.png') }}" alt="Storm Trooper" width="60rem"
        id="stormtrooper" hidden>
    <img src="{{ url_for('static', filename='images/r2d2-512.png') }}" alt="R2D2" width="60rem" id="r2d2" hidden>

    <!-- debuggin -->
    <div id="debug-text">
        <p></p>
    </div>
    <video autoplay id="video-canvas"></video>
    <canvas id="recognition-canvas"></canvas>
    <!-- debugging end -->

    <div id="responses"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.5.0/fabric.min.js"></script>
    <script>

        let lastDatePersonWasDetected = new Date();
        let fabricCanvas;
        let greetingTextInstance;
        let streakIconImageInstances = [];
        let streakIconText;
        let lightsaberImageInstance;
        let clockInstance;
        let graphInstance;
        let achievementsInstance;

        let lastXPositionClock = 0;
        let lastYPositionClock = 0;
        let lastXPositionGraph = 0;
        let lastYPositionGraph = 0;
        let lastXPositionAchievements = 0;
        let lastYPositionAchievements = 0;
        let lastMatchedPerson;


        // get video dom element
        const video = document.getElementById('video-canvas');

        const canv = document.getElementById('recognition-canvas');
        canv.width = camerWidth;
        canv.height = camerHeight;
        const ctx = canv.getContext('2d');

        // request access to webcam
        navigator.mediaDevices.getUserMedia({ video: { width: camerWidth, height: camerHeight } }).then((stream) => video.srcObject = stream);

        // returns a frame encoded in base64
        const getFrame = () => {
            const canvas = document.createElement('canvas');
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            canvas.getContext('2d').drawImage(video, 0, 0);
            const data = canvas.toDataURL();
            return data;
        }

        const sendMessage = (data) => {
            socket.emit('camera_frame', { framedata: data });
        }

        function removeLightsaber() {
            if (lightsaberImageInstance) {
                fabricCanvas.remove(lightsaberImageInstance);
            }
        }

        function showLighsaber(matchedPerson) {
            if (matchedPerson) {
                let url;
                if (matchedPerson.toLowerCase() === 'kylo') {
                    url = 'https://cdn3.iconfinder.com/data/icons/star-wars-color/424/lightsaber-darth-vader-512.png';
                } else if (matchedPerson.toLowerCase() === 'rey') {
                    url = 'https://cdn3.iconfinder.com/data/icons/star-wars-color/424/lightsaber-luke-anh-512.png';
                }
                fabric.Image.fromURL(url, (img) => {
                    img.set({
                        top: 0,
                        left: window.innerWidth - 150,
                    });
                    fabricCanvas.add(img);
                    lightsaberImageInstance = img;
                });
            }
        }

        function removeStreakIcons() {
            if (streakIconImageInstances.length > 0) {
                streakIconImageInstances.forEach(img => {
                    fabricCanvas.remove(img);
                })
            }
            if (streakIconText) {
                fabricCanvas.remove(streakIconText);
            }
        }

        function showStreakIcons(matchedPerson) {
            if (matchedPerson) {
                if (matchedPerson.toLowerCase() === 'rey' || matchedPerson.toLowerCase() === 'kylo') {
                    streakIconText = new fabric.Text('Tooth brush streak counter:', {
                        fontFamily: 'Starjedi',
                        left: 0,
                        top: 0,
                        fill: '#FFFFFF',
                        fontSize: 15
                    });
                    fabricCanvas.add(streakIconText);
                }
                if (matchedPerson.toLowerCase() === 'kylo') {
                    for (let i = 0; i < 3; i++) {
                        const image = document.getElementById('stormtrooper');
                        let imageInstance = new fabric.Image(image, {
                            left: 0 + i * 50,
                            top: 20,
                        });
                        imageInstance.scaleToWidth(45);
                        fabricCanvas.add(imageInstance);
                        streakIconImageInstances.push(imageInstance);
                    }
                } else if (matchedPerson.toLowerCase() === 'rey') {
                    for (let i = 0; i < 5; i++) {
                        const image = document.getElementById('r2d2');
                        let imageInstance = new fabric.Image(image, {
                            left: 0 + i * 50,
                            top: 20,
                        });
                        imageInstance.scaleToWidth(45);
                        fabricCanvas.add(imageInstance);
                        streakIconImageInstances.push(imageInstance);
                    }
                }

            }
        }

        function removeUserGreeting() {
            if (greetingTextInstance) {
                fabricCanvas.remove(greetingTextInstance);
            }
        }

        function showUserGreeting(matchedPerson) {
            let greeting;

            // hide greeting when no person was recognized
            if (matchedPerson === null) {
                greeting = '';
            } else if (matchedPerson === '') {
                greeting = getGreetingForHourOfDay() + '.';
            } else if (matchedPerson !== '') {
                greeting = getGreetingForHourOfDay() + ',\n' + matchedPerson.charAt(0).toUpperCase() + matchedPerson.slice(1) + '.';
            }
            greetingTextInstance = new fabric.Text(greeting, {
                fontFamily: 'Starjhol',
                left: 10,
                top: 800,
                fill: '#FFFFFF',
                fontSize: 80
            });
            fabricCanvas.add(greetingTextInstance);
        }

        function getGreetingForHourOfDay() {
            const h = new Date().getHours();
            if (h < 4) {
                return 'Good night';
            } else if (h < 11) {
                return 'Good morning';
            } else if (h < 17) {
                return 'Good afternoon';
            } else if (h < 21) {
                return 'Good evening';
            }
            return 'Good night';
        }

        function showDebugMessages(json) {
            document.querySelector('#debug-text p').innerHTML = JSON.stringify(json);
        }

        socket.on('response_message', (msg) => {
            const json = JSON.parse(msg);
            const matchedPerson = json.matchedPerson;

            showDebugMessages(json);


            if (matchedPerson !== lastMatchedPerson) {
                removeStreakIcons();
                removeUserGreeting();
                removeLightsaber();

                showUserGreeting(matchedPerson);
                showStreakIcons(matchedPerson);
                showLighsaber(matchedPerson);
                lastDatePersonWasDetected = new Date();
            }
            lastMatchedPerson = matchedPerson;
            /*
                        if (lastXPositionClock != json.clock.x || lastYPositionClock != json.clock.y) {
                            lastXPositionClock = json.clock.x;
                            lastYPositionClock = json.clock.y;
                            fabricCanvas.item(0).animate('left', json.clock.x, {
                                duration: 1000,
                                onChange: fabricCanvas.renderAll.bind(fabricCanvas)
                            });
                            fabricCanvas.item(0).animate('top', json.clock.y, {
                                duration: 1000,
                                onChange: fabricCanvas.renderAll.bind(fabricCanvas)
                            });
                        }
                        if (lastXPositionGraph != json.graph.x || lastYPositionGraph != json.graph.y) {
                            lastXPositionGraph = json.graph.x;
                            lastYPositionGraph = json.graph.y;
                            fabricCanvas.item(1).animate('left', json.graph.x, {
                                duration: 1000,
                                onChange: fabricCanvas.renderAll.bind(fabricCanvas)
                            });
                            fabricCanvas.item(1).animate('top', json.graph.y, {
                                duration: 1000,
                                onChange: fabricCanvas.renderAll.bind(fabricCanvas)
                            });
                        }
                        if (lastXPositionAchievements != json.achievements.x || lastYPositionAchievements != json.achievements.y) {
                            lastXPositionAchievements = json.achievements.x;
                            lastYPositionAchievements = json.achievements.y;
                            fabricCanvas.item(2).animate('left', json.achievements.x, {
                                duration: 1000,
                                onChange: fabricCanvas.renderAll.bind(fabricCanvas)
                            });
                            fabricCanvas.item(2).animate('top', json.achievements.y, {
                                duration: 1000,
                                onChange: fabricCanvas.renderAll.bind(fabricCanvas)
                            });
                        }*/
            // document.getElementById("responses").appendChild(document.createTextNode(msg))

            json.boundingBoxes.forEach(el => {

                if (el['class'] !== 'person') {
                    return
                }

                const bb = el['bounding_box'];
                const xDist = bb['xmax'] - bb['xmin'];
                const yDist = bb['ymax'] - bb['ymin'];

                const xCenter = bb['xmin'] + xDist / 2;
                const yCenter = bb['ymin'] + yDist / 2;

                ctx.clearRect(0, 0, camerWidth, camerHeight);
                ctx.strokeStyle = "#FFFFFF";
                ctx.beginPath();
                ctx.rect(bb['xmin'], bb['ymin'], xDist, yDist);
                ctx.stroke();

            });


        });

        setInterval(() => {
            sendMessage(getFrame());
        }, 1000);

        function initializeCanvas() {
            document.getElementById('canvas').width = window.innerWidth;
            document.getElementById('canvas').height = window.innerHeight;
            fabricCanvas = new fabric.Canvas('canvas');

            /*            const clockImage = document.getElementById('clock');
                        clockInstance = new fabric.Image(clockImage, {
                            left: 0,
                            top: 150
                        });
                        const graphImage = document.getElementById('graph');
                        graphInstance = new fabric.Image(graphImage, {
                            left: 500,
                            top: 0
                        });
                        const achievementsImage = document.getElementById('achievements');
                        achievementsInstance = new fabric.Image(achievementsImage, {
                            left: 1500,
                            top: 0
                        });
                        fabricCanvas.add(clockInstance);
                        fabricCanvas.add(graphInstance);
                        fabricCanvas.add(achievementsInstance);*/
        }

        (function () {
            initializeCanvas();
        })();

    </script>
</body>

</html>