<head>
    <title>Streamer</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script>
        // trys to connect to the host that serves the page by default
        const socket = io();

        socket.on('connection', (socket) => {
            console.log('a user connected');
            socket.emit('camera_frame', {data: 'I\'m connected!'});

            socket.on('disconnect', () => {
                console.log('user disconnected');
            });
        });
    </script>
</head>

<body>
    <video autoplay></video>
    <div id="responses"></div>
    <script>
        // get video dom element
        const video = document.querySelector('video');

        // request access to webcam
        navigator.mediaDevices.getUserMedia({ video: { width: 426, height: 240 } }).then((stream) => video.srcObject = stream);

        // returns a frame encoded in base64
        const getFrame = () => {
            const canvas = document.createElement('canvas');
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            canvas.getContext('2d').drawImage(video, 0, 0);
            const data = canvas.toDataURL();
            return data;
        }

        const sendMessage = (data) => {
            socket.emit('camera_frame', {framedata: data});
        }

        socket.on('response_message', (msg) => {
            document.getElementById("responses").appendChild(document.createTextNode(msg))
        });

        setInterval(() => {
            sendMessage(getFrame());
        }, 1000 );

        </script>
</body>

</html>