<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MirrorPi</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script>
        // trys to connect to the host that serves the page by default
        const socket = io();

        socket.on('connection', (socket) => {
            console.log('a user connected');
            socket.emit('camera_frame', {data: 'I\'m connected!'});

            socket.on('disconnect', () => {
                console.log('user disconnected');
            });
        });
    </script>
</head>

<body>
    <canvas id="image_canvas" height="480px" width="640px"></canvas>
    <button onclick="sendMessage()">Send message</button>
    <div id="responses"></div>
    <script>
        const canv = document.getElementById('image_canvas');
        const ctx = canv.getContext('2d');

        // Load an image an put it to a canvas
        const i = new Image()
        i.crossOrigin="anonymus"
        i.onload = () => {
            ctx.drawImage(i, 0, 0);
        }
        i.src = "https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Toothbrush_x3_20050716_001.jpg/640px-Toothbrush_x3_20050716_001.jpg";


        const sendMessage = () => {
            socket.emit('camera_frame', {framedata: canv.toDataURL()});
        }

        socket.on('response_message', (msg) => {
            document.getElementById("responses").appendChild(document.createTextNode(msg))
        });
    </script>
</body>

</html>